<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services</title>
 
  
  <link rel="stylesheet" href="./css/services.css"> 
  <script src="https://kit.fontawesome.com/36b515c98c.js" crossorigin="anonymous"></script>
    
  
  </head>
<body>
  <%- include('header') %>
 <div class="container">
  
  <h1>Our Services</h1>
  <div class="product-container">
    <div class="product" data-name="1">
      <img src="./images/service-1.jpg" alt="" >
      <div class="hover-content">
        <h3 >General contracting</h3> 
        <button>KNOW MORE</button>
      </div>
       
      
      

    </div>
    <div class="product" data-name="2">
      <img class="image" src="./images/service-2.jpg" >
      <div class="hover-content">
        <h3 >Design and Build</h3> 
        <button>KNOW MORE</button>
      </div>
    </div>
    <div class="product" data-name="3">
      <img src="./images/service-3.jpg" >
      <div class="hover-content">
        <h3 >Project Management</h3> 
        <button>KNOW MORE</button>
         </div>
        </div>
    <div class="product" data-name="4">
      <img src="./images/service-4.jpg" >
      <div class="hover-content">
        <h3 >Residential Construction</h3> 
        <button>KNOW MORE</button>
      </div>
    </div>
    <div class="product" data-name="5">
      <img src="./images/service-5.jpg" >
      <div class="hover-content">
        <h3 >Commercial Construction</h3> 
        <button>KNOW MORE</button>
          </div>
        </div>
    <div class="product" data-name="6">
      <img src="./images/service-6.jpg" >
      <div class="hover-content">
        <h3 >Renovations and Remodeling</h3> 
        <button>KNOW MORE</button>   
      </div>   
    </div>
    <div class="product" data-name="7">
      <img src="./images/service-7.jpg" >
      <div class="hover-content">
        <h3 >Structural Engineering</h3> 
        <button>KNOW MORE</button>
      </div>
    </div>
    <div class="product" data-name="8">
      <img src="./images/service-8.jpg">
      <div class="hover-content">
        <h3 >Sustainable Building Solutions</h3> 
        <button>KNOW MORE</button>
      
      </div>
    </div>
   
  </div>
 

 <div class="products-preview">

    <div class="preview " data-target="1">
      <i class="fas fa-times"></i>
        <h3> General contracting</h3>
        
        <div class="preview-image">
          <img src="./images/service-1.jpg" >
        </div>
        
      <div class="preview-description">
        <p class="first-line">We offer integrated design-build services, combining architectural design with construction execution for a streamlined, efficient project experience.
        </p><br>
        <p><b>Services Include:</b></p>
        <p><i class="fa-solid fa-forward"></i>Pre-Construction Planning</p>
        <p><i class="fa-solid fa-forward"></i>Project Management</p>
        <p><i class="fa-solid fa-forward"></i>Site Preparation & Excavation</p>
        <p><i class="fa-solid fa-forward"></i>Building Construction</p>
        <p><i class="fa-solid fa-forward"></i>Quality Assurance & Control</p>
        <p><i class="fa-solid fa-forward"></i>Safety Management</p>
       
       
        
        
      </div>
     </div>


  <div class="preview " data-target="2">
    <i class="fas fa-times"></i>
    <h3> Design-Build Services</h3>
    
    <div class="preview-image">
      <img src="./images/service-2.jpg" >
    </div>
    
  <div class="preview-description">
    <p class="first-line">We offer integrated design-build services, combining architectural design with construction execution for a streamlined, efficient project experience.
    </p><br>
    <p><b>Services Include:</b></p><br>
    <p><i class="fa-solid fa-forward"></i>Design-Build Planning</p>
    <p><i class="fa-solid fa-forward"></i>Architectural Design Integration</p>
    <p><i class="fa-solid fa-forward"></i>Collaborative Design & Construction</p>
      </div>
 </div>


    <div class="preview " data-target="3">
      <h3> Project Management</h3>
      <i class="fas fa-times"></i>
      <div class="preview-image">
        <img src="./images/service-3.jpg" >
      </div>
      
    <div class="preview-description">
      <p class="first-line">Our expert project management services ensure your construction project is completed on time, within budget, and to the highest quality standards.

      </p><br>
      <p><b>Services Include:</b></p>
      <p><i class="fa-solid fa-forward"></i>Budgeting & Cost Control</p>
      <p><i class="fa-solid fa-forward"></i>Scheduling & Coordination</p>
      <p><i class="fa-solid fa-forward"></i>Quality Control & Inspections</p>

    </div>
   </div>

   
    <div class="preview " data-target="4">
      <h3>Residential Construction</h3>
      <i class="fas fa-times"></i>
      <div class="preview-image">
        <img src="./images/service-4.jpg" >
      </div>
      
    <div class="preview-description">
      <p class="first-line">We offer expert residential construction services that bring your dream home to life, from ground-up builds to renovations and expansions.

      </p><br>
      <p><b>Services Include:</b></p>
      <p><i class="fa-solid fa-forward"></i>New Home Construction</p>
      <p><i class="fa-solid fa-forward"></i>Home Additions</p>
      <p><i class="fa-solid fa-forward"></i>Kitchen & Bathroom Remodeling</p>
      <p><i class="fa-solid fa-forward"></i>Exterior & Interior Renovations

      </p>
      </div>
   </div>

   <div class="preview " data-target="5">
    <h3>Commercial Construction</h3>
    <i class="fas fa-times"></i>
    <div class="preview-image">
      <img src="./images/service-5.jpg">
    </div>
    
  <div class="preview-description">
    <p class="first-line">Our commercial construction solutions cater to businesses of all sizes, focusing on creating efficient, innovative spaces that support business growth.


    </p><br>
    <p><b>Services Include:</b></p><br>
    <p><i class="fa-solid fa-forward"></i>Office Buildings Construction</p>
    <p><i class="fa-solid fa-forward"></i>Retail Spaces & Fit-Outs</p>
    <p><i class="fa-solid fa-forward"></i>Industrial Complexes</p>
    <p><i class="fa-solid fa-forward"></i>Tenant Improvements & Renovations

    </p>
     </div>
 </div>

 <div class="preview " data-target="6">
    <h3>Remodeling & Renovations</h3>
    <i class="fas fa-times"></i>
    <div class="preview-image">
      <img src="./images/service-6.jpg" >
    </div>
    
  <div class="preview-description">
    <p class="first-line">Our remodeling and renovation services transform outdated or underutilized spaces into modern, functional areas.


    </p><br>
    <p><b>Services Include:</b></p>
    <p><i class="fa-solid fa-forward"></i>Full-Home Remodeling</p>
    <p><i class="fa-solid fa-forward"></i>Kitchen & Bathroom Updates</p>
    <p><i class="fa-solid fa-forward"></i>Basement Finishing</p>
    <p><i class="fa-solid fa-forward"></i>Exterior Renovations

    </p>
    
  </div>
 </div>

 <div class="preview " data-target="7">
    <h3>Structural Engineering</h3>
    <i class="fas fa-times"></i>
    <div class="preview-image">
      <img src="./images/service-7.jpg" >
    </div>
    
  <div class="preview-description">
    <p class="first-line">Our structural engineers provide expert analysis, planning, and design to ensure your project meets all safety, structural integrity, and regulatory standards. We safeguard your project from concept to completion.

    </p><br>
    <p><b>Services Include:</b></p>
    <p><i class="fa-solid fa-forward"></i>Structural Analysis & Design</p>
    <p><i class="fa-solid fa-forward"></i>Seismic & Wind Load Analysis</p>
    <p><i class="fa-solid fa-forward"></i>Foundation Design</p>
    <p><i class="fa-solid fa-forward"></i>Retrofitting & Rehabilitation

    </p>
    <p><i class="fa-solid fa-forward"></i>Steel, Concrete, and Timber Design

    </p>
   
  </div>
 </div>

 <div class="preview " data-target="8">
    <h3>Sustainable Construction</h3>
    <i class="fas fa-times"></i>
    <div class="preview-image">
      <img src="./images/service-8.jpg" >
    </div>
    
  <div class="preview-description">
    <p class="first-line">We are committed to sustainable building practices, offering eco-friendly solutions to reduce environmental impact and improve energy efficiency.


    </p><br>
    <p><b>Services Include:</b></p>
    <p><i class="fa-solid fa-forward"></i>Green Building Practices</p>
    <p><i class="fa-solid fa-forward"></i>Energy-Efficient Homes</p>
    <p><i class="fa-solid fa-forward"></i>LEED Certification Consulting</p>
    <p><i class="fa-solid fa-forward"></i>Solar Power Integration

    </p>
    
  </div>
</div>

   </div>
   </div>


<%- include('footer') %>

<script src="./js/services.js"></script>
 
</body>
</html>