
body
{
  
  background-size: cover;
  width: 100%;
}
/* CSS */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left,

.footer-right {
  flex: 1;
  margin-left: 20%;
}

.footer-left p, .footer-right p, .social-media a {
  margin: 5px 0;
    font-size: 15px;

}

.footer-left p a
{
  text-decoration: none;
  color: #fff;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
  
}
.social-media a .fa-facebook, .fa-square-instagram, .fa-envelope
{
  border-right: 1px solid #fff;
  padding-right: 10px;
  
}

.social-media a:hover {
  text-decoration: underline;
}

.footer-cen {
  text-align: center;
  height: 40px;
  background-color: #444;
  padding: 10px;
  margin-top: 10px;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}

.footer p, .footer-menu a, .social-media a {
  color: #ccc;
  transition: color 0.3s;
  text-decoration: none;
}

.footer p:hover, .footer-menu a:hover, .social-media a:hover {
  color: #fff;
}

@media  (max-width:768px)
{
  .footer {
    
    padding: 10px 0;
   

  }
  
  .footer-container {
    
    padding: 0 10px;
  }
  
  .footer-left,
  
  .footer-right {
    
    margin-left: 10%;
  }
  
  .footer-left p, .footer-right p, .social-media a {
    
      font-size: 15px;
  
  }
  
 
  
  .social-media a {
    
    font-size: 15px;
    margin: 0 5px;
    
  }
  .social-media a .fa-facebook, .fa-square-instagram, .fa-envelope
  {
   
    padding-right: 10px;
    
  }
  
  .footer-cen {
    text-align: center;
    height: 40px;
    background-color: #444;
    padding: 5px;
    margin-top: 0;
  }
  
  .footer-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-size: 12px;
  }
  
  
  
  
  
  .footer-bottom {
   
    font-size: 10px;
    margin-top: 10px;
  }
  
   
}

@media  (max-width:480px)
{
  .footer {
    
    padding: 5px 0;
   

  }
  
  .footer-container {
    
    padding: 0 5px;
  }
  
  .footer-left,
  
  .footer-right {
    
    margin-left: 60px;
  }
  
  .footer-left p, .footer-right p, .social-media a {
    
      font-size: 10px;
  
  }
  
 
  
  .social-media a {
    
    font-size: 10px;
    margin: 0 3px;
    
  }
  .social-media a .fa-facebook, .fa-square-instagram, .fa-envelope
  {
   
    padding-right: 5px;
    
  }
  
  .footer-cen {
    text-align: center;
    height: 30px;
    background-color: #444;
    padding: 5px;
    margin-top: 0;
  }
  
  .footer-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-size: 10px;
  }
  
  
  
  
  
  .footer-bottom {  
   
    font-size: 8px;
    margin-top: 10px;
  }
  
   
}